ComauRacer3demo\*.orig
ComauRacer3demo\*.pyc
ComauRacer3demo\*.dotest
ComauRacer3demo\*.idea
ComauRacer3demo\Temp\
ComauRacer3demo\Diagnosis\
ComauRacer3demo\Binaries\
ComauRacer3demo\*.isopen
ComauRacer3demo\*.set
ComauRacer3demo\debug.log
*.set
ComauRacer3demo/Temp/Settings/Daniel/ProjectDesktop.state
ComauRacer3demo/Temp/Settings/Daniel/BR.AS.Hardware.Presentation.ConfigurationPanel.state
ComauRacer3demo/Temp/Settings/Daniel/BR.AS.Hardware.Tree.Wrapper.HardwareTreeViewWrapper.state
ComauRacer3demo/Temp/Settings/Daniel/BR.AS.Logical.Manager.state
ComauRacer3demo/Temp/Settings/Daniel/Workspace.state
ComauRacer3demo/Temp/Simulation/Racer3_demo/5APC2100_BY44_000/RPSHD/USERROM/L2_00000006.br
ComauRacer3demo/Temp/Simulation/Racer3_demo/5APC2100_BY44_000/RPSHDS/USERROM/L2_00000006.br
