ComauRacer3praktyki_demo/*.orig
ComauRacer3praktyki_demo/*.pyc
ComauRacer3praktyki_demo/.dotest
ComauRacer3praktyki_demo/.idea/
ComauRacer3praktyki_demo/Temp/
ComauRacer3praktyki_demo/Diagnosis/
ComauRacer3praktyki_demo/Binaries/
ComauRacer3praktyki_demo/*.isopen
ComauRacer3praktyki_demo//*.set
ComauRacer3praktyki_demo/debug.log
