@import "mixins.scss";
@mixin system_brease_ChangePasswordDialog_base {
.breaseWindowClose {
	@include display(true);
}
.contentBox {
	border-width: 9px;
}
.contentBox {
	border-color: #333;
}
.contentBox {
	border-style: solid;
}
	@include border-radius(0px);
.contentBox {
	background-color: #FFF;
}
.contentBox {
	@include backgroundSize(fill);
}
	opacity: 1;
header div {
	color: #FFF;
}
header div {
	font-family: Arial;
}
header div {
	font-size: 16px;
}
header div {
	@include font-weight-bold(false);
}
header div {
	@include font-style-italic(false);
}
.breaseDialogWindowHeader {
	background-color: #333;
}
.breaseDialogWindowHeader {
	border-color: #333;
}
.breaseDialogWindowHeader {
	border-width: 0px;
}
.breaseDialogWindowHeader {
	border-style: none;
}
.breaseDialogWindowHeader {
	height: 42px;
}
.breaseDialogWindowHeader .breaseWindowClose {
	height: 42px;
}
.breaseDialogWindowHeader .breaseWindowClose {
	line-height: 42px;
}
.breaseDialogWindowHeader .imageDiv {
	min-width: 42px;
}
.breaseDialogWindowHeader div.innerHeader {
	line-height: 42px;
}
.breaseDialogWindowHeader div.textDiv {
	line-height: 42px;
}
.breaseDialogWindowHeader div.innerHeader {
	height: 42px;
}
.breaseDialogWindowHeader div.imageDiv {
	@include factor('max-width',42px, 2);
}
.widgets_brease_Label_style_default:not(.disabled):not(.active) span {
	color: #999;
}
.widgets_brease_Label_style_default:not(.disabled):not(.active) span {
	font-family: Arial;
}
.widgets_brease_Label_style_default:not(.disabled):not(.active) span {
	font-size: 14px;
}
.widgets_brease_Label_style_default:not(.disabled):not(.active) span {
	@include font-weight-bold(false);
}
.widgets_brease_Label_style_default:not(.disabled):not(.active) span {
	@include font-style-italic(false);
}
.widgets_brease_TextInput_style_default:not(.disabled):not(.active) input {
	color: #333;
}
.widgets_brease_Password_style_default:not(.disabled):not(.active) input {
	color: #333;
}
.widgets_brease_TextInput_style_default:not(.disabled):not(.active) input {
	font-family: Arial;
}
.widgets_brease_Password_style_default:not(.disabled):not(.active) input {
	font-family: Arial;
}
.widgets_brease_TextInput_style_default:not(.disabled):not(.active) input {
	font-size: 16px;
}
.widgets_brease_Password_style_default:not(.disabled):not(.active) input {
	font-size: 16px;
}
.widgets_brease_TextInput_style_default:not(.disabled):not(.active) input {
	@include font-weight-bold(false);
}
.widgets_brease_Password_style_default:not(.disabled):not(.active) input {
	@include font-weight-bold(false);
}
.widgets_brease_TextInput_style_default:not(.disabled):not(.active) input {
	@include font-style-italic(false);
}
.widgets_brease_Password_style_default:not(.disabled):not(.active) input {
	@include font-style-italic(false);
}
.widgets_brease_TextInput_style_default:not(.disabled):not(.active) input {
	@include text-alignment(left);
}
.widgets_brease_Password_style_default:not(.disabled):not(.active) input {
	@include text-alignment(left);
}
.widgets_brease_Button_style_default:not(.disabled):not(.active) span {
	color: #333;
}
.widgets_brease_Button_style_default:not(.disabled):not(.active) span {
	font-family: Arial;
}
.widgets_brease_Button_style_default.active:not(.disabled) span {
	font-family: Arial;
}
.widgets_brease_Button_style_default:not(.disabled):not(.active) span {
	font-size: 16px;
}
.widgets_brease_Button_style_default.active:not(.disabled) span {
	font-size: 16px;
}
.widgets_brease_Button_style_default:not(.disabled):not(.active) span {
	@include font-weight-bold(false);
}
.widgets_brease_Button_style_default.active:not(.disabled) span {
	@include font-weight-bold(false);
}
.widgets_brease_Button_style_default:not(.disabled):not(.active) span {
	@include font-style-italic(false);
}
.widgets_brease_Button_style_default.active:not(.disabled) span {
	@include font-style-italic(false);
}
.widgets_brease_Button_style_default:not(.disabled):not(.active) {
	border-color: #555;
}
.widgets_brease_Button_style_default.active:not(.disabled) {
	border-color: #333;
}
.widgets_brease_Button_style_default {
	border-width: 1px 1px 1px 1px;
}
.widgets_brease_Button_style_default {
	border-style: solid;
}
.widgets_brease_Button_style_default.active {
	border-style: solid;
}
.widgets_brease_Button_style_default.active:not(.disabled) span {
	color: #000;
}
.widgets_brease_Button_style_default {
	@include border-radius(0px);
}
.widgets_brease_Button_style_default:not(.disabled):not(.active):not(.checked) {
	background-color: #FFF;
}
.widgets_brease_Button_style_default.active:not(.disabled):not(.checked) {
	background-color: #FFA800;
}
.policyLine .textOutput {
	color: #333;
}
.policyLine.success .textOutput {
	color: #008000;
}
.policyLine.fail .textOutput {
	color: #FF0000;
}
.policyLine .textOutput {
	font-family: Arial;
}
.policyLine .textOutput {
	font-size: 14px;
}
.policyLine .textOutput {
	@include font-weight-bold(false);
}
.policyLine .textOutput {
	@include font-style-italic(false);
}
.policyLine.success .iconSuccess g {
	fill: #008000;
}
.policyLine.success .iconSuccess {
	width: 16px;
}
.policyLine.success .iconSuccess {
	height: 16px;
}
.policyLine.fail .iconFail g {
	fill: #FF0000;
}
.policyLine.fail .iconFail {
	width: 16px;
}
.policyLine.fail .iconFail {
	height: 16px;
}
.contentBox .policyBoxHeader {
	color: #FFF;
}
.contentBox .policyBoxHeader {
	font-family: Arial;
}
.contentBox .policyBoxHeader {
	font-size: 14px;
}
.contentBox .policyBoxHeader {
	@include font-weight-bold(false);
}
.contentBox .policyBoxHeader {
	@include font-style-italic(false);
}
.contentBox .policyBoxHeader {
	background-color: #008080;
}
.contentBox .policyBox {
	border-color: #008080;
}
.contentBox .policyBox {
	border-width: 1px;
}
.contentBox .policyBox {
	border-style: solid;
}
.contentBox .policyBox {
	background-color: #FFF;
}

}

