.system_brease_ChangePasswordDialog_style_default {
  border-radius: 0px;
  opacity: 1;
}

.system_brease_ChangePasswordDialog_style_default .breaseWindowClose {
  display: block;
}

.system_brease_ChangePasswordDialog_style_default .contentBox {
  border-width: 9px;
}

.system_brease_ChangePasswordDialog_style_default .contentBox {
  border-color: #333;
}

.system_brease_ChangePasswordDialog_style_default .contentBox {
  border-style: solid;
}

.system_brease_ChangePasswordDialog_style_default .contentBox {
  background-color: #FFF;
}

.system_brease_ChangePasswordDialog_style_default .contentBox {
  background-size: 100% 100%;
}

.system_brease_ChangePasswordDialog_style_default header div {
  color: #FFF;
}

.system_brease_ChangePasswordDialog_style_default header div {
  font-family: Arial;
}

.system_brease_ChangePasswordDialog_style_default header div {
  font-size: 16px;
}

.system_brease_ChangePasswordDialog_style_default header div {
  font-weight: normal;
}

.system_brease_ChangePasswordDialog_style_default header div {
  font-style: normal;
}

.system_brease_ChangePasswordDialog_style_default .breaseDialogWindowHeader {
  background-color: #333;
}

.system_brease_ChangePasswordDialog_style_default .breaseDialogWindowHeader {
  border-color: #333;
}

.system_brease_ChangePasswordDialog_style_default .breaseDialogWindowHeader {
  border-width: 0px;
}

.system_brease_ChangePasswordDialog_style_default .breaseDialogWindowHeader {
  border-style: none;
}

.system_brease_ChangePasswordDialog_style_default .breaseDialogWindowHeader {
  height: 42px;
}

.system_brease_ChangePasswordDialog_style_default .breaseDialogWindowHeader .breaseWindowClose {
  height: 42px;
}

.system_brease_ChangePasswordDialog_style_default .breaseDialogWindowHeader .breaseWindowClose {
  line-height: 42px;
}

.system_brease_ChangePasswordDialog_style_default .breaseDialogWindowHeader .imageDiv {
  min-width: 42px;
}

.system_brease_ChangePasswordDialog_style_default .breaseDialogWindowHeader div.innerHeader {
  line-height: 42px;
}

.system_brease_ChangePasswordDialog_style_default .breaseDialogWindowHeader div.textDiv {
  line-height: 42px;
}

.system_brease_ChangePasswordDialog_style_default .breaseDialogWindowHeader div.innerHeader {
  height: 42px;
}

.system_brease_ChangePasswordDialog_style_default .breaseDialogWindowHeader div.imageDiv {
  max-width: 84px;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Label_style_default:not(.disabled):not(.active) span {
  color: #999;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Label_style_default:not(.disabled):not(.active) span {
  font-family: Arial;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Label_style_default:not(.disabled):not(.active) span {
  font-size: 14px;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Label_style_default:not(.disabled):not(.active) span {
  font-weight: normal;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Label_style_default:not(.disabled):not(.active) span {
  font-style: normal;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_TextInput_style_default:not(.disabled):not(.active) input {
  color: #333;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Password_style_default:not(.disabled):not(.active) input {
  color: #333;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_TextInput_style_default:not(.disabled):not(.active) input {
  font-family: Arial;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Password_style_default:not(.disabled):not(.active) input {
  font-family: Arial;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_TextInput_style_default:not(.disabled):not(.active) input {
  font-size: 16px;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Password_style_default:not(.disabled):not(.active) input {
  font-size: 16px;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_TextInput_style_default:not(.disabled):not(.active) input {
  font-weight: normal;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Password_style_default:not(.disabled):not(.active) input {
  font-weight: normal;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_TextInput_style_default:not(.disabled):not(.active) input {
  font-style: normal;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Password_style_default:not(.disabled):not(.active) input {
  font-style: normal;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_TextInput_style_default:not(.disabled):not(.active) input {
  justify-content: flex-start;
  text-align: left;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Password_style_default:not(.disabled):not(.active) input {
  justify-content: flex-start;
  text-align: left;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Button_style_default:not(.disabled):not(.active) span {
  color: #333;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Button_style_default:not(.disabled):not(.active) span {
  font-family: Arial;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Button_style_default.active:not(.disabled) span {
  font-family: Arial;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Button_style_default:not(.disabled):not(.active) span {
  font-size: 16px;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Button_style_default.active:not(.disabled) span {
  font-size: 16px;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Button_style_default:not(.disabled):not(.active) span {
  font-weight: normal;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Button_style_default.active:not(.disabled) span {
  font-weight: normal;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Button_style_default:not(.disabled):not(.active) span {
  font-style: normal;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Button_style_default.active:not(.disabled) span {
  font-style: normal;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Button_style_default:not(.disabled):not(.active) {
  border-color: #555;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Button_style_default.active:not(.disabled) {
  border-color: #333;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Button_style_default {
  border-width: 1px 1px 1px 1px;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Button_style_default {
  border-style: solid;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Button_style_default.active {
  border-style: solid;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Button_style_default.active:not(.disabled) span {
  color: #000;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Button_style_default {
  border-radius: 0px;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Button_style_default:not(.disabled):not(.active):not(.checked) {
  background-color: #FFF;
}

.system_brease_ChangePasswordDialog_style_default .widgets_brease_Button_style_default.active:not(.disabled):not(.checked) {
  background-color: #FFA800;
}

.system_brease_ChangePasswordDialog_style_default .policyLine .textOutput {
  color: #333;
}

.system_brease_ChangePasswordDialog_style_default .policyLine.success .textOutput {
  color: #008000;
}

.system_brease_ChangePasswordDialog_style_default .policyLine.fail .textOutput {
  color: #FF0000;
}

.system_brease_ChangePasswordDialog_style_default .policyLine .textOutput {
  font-family: Arial;
}

.system_brease_ChangePasswordDialog_style_default .policyLine .textOutput {
  font-size: 14px;
}

.system_brease_ChangePasswordDialog_style_default .policyLine .textOutput {
  font-weight: normal;
}

.system_brease_ChangePasswordDialog_style_default .policyLine .textOutput {
  font-style: normal;
}

.system_brease_ChangePasswordDialog_style_default .policyLine.success .iconSuccess g {
  fill: #008000;
}

.system_brease_ChangePasswordDialog_style_default .policyLine.success .iconSuccess {
  width: 16px;
}

.system_brease_ChangePasswordDialog_style_default .policyLine.success .iconSuccess {
  height: 16px;
}

.system_brease_ChangePasswordDialog_style_default .policyLine.fail .iconFail g {
  fill: #FF0000;
}

.system_brease_ChangePasswordDialog_style_default .policyLine.fail .iconFail {
  width: 16px;
}

.system_brease_ChangePasswordDialog_style_default .policyLine.fail .iconFail {
  height: 16px;
}

.system_brease_ChangePasswordDialog_style_default .contentBox .policyBoxHeader {
  color: #FFF;
}

.system_brease_ChangePasswordDialog_style_default .contentBox .policyBoxHeader {
  font-family: Arial;
}

.system_brease_ChangePasswordDialog_style_default .contentBox .policyBoxHeader {
  font-size: 14px;
}

.system_brease_ChangePasswordDialog_style_default .contentBox .policyBoxHeader {
  font-weight: normal;
}

.system_brease_ChangePasswordDialog_style_default .contentBox .policyBoxHeader {
  font-style: normal;
}

.system_brease_ChangePasswordDialog_style_default .contentBox .policyBoxHeader {
  background-color: #008080;
}

.system_brease_ChangePasswordDialog_style_default .contentBox .policyBox {
  border-color: #008080;
}

.system_brease_ChangePasswordDialog_style_default .contentBox .policyBox {
  border-width: 1px;
}

.system_brease_ChangePasswordDialog_style_default .contentBox .policyBox {
  border-style: solid;
}

.system_brease_ChangePasswordDialog_style_default .contentBox .policyBox {
  background-color: #FFF;
}
